*{
    margin:0;
    padding:0;

}
a{
    text-decoration: none;
    color:#111;
}
.header .tool-bar{
    width:100%;
    height:25px;
    background-color: #111;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 200px;
}
.header .tool-bar .left a{
    font-size: 12px;
    line-height:25px;
    color:#fff;
    display: inline-block;
    padding:0px 8px;
}
.header .tool-bar .left a .fa-star{
    color: orangered;
    font-size:8px;
    padding-right:5px;
}
.header .tool-bar .right input{
    background-image: url(assets/icons/magnifying-glass-solid.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #111;
    border:none;
    display: inline-block;
    color:#fff;
    padding: 0px 8px;
}
.header .tool-bar .right input:focus-visible{
    outline:none;
}
.header .top-header {
    background-color:#E2E0D3 ;
    width:100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:200px;
    box-sizing: border-box;
}
.header .top-header .logo{
    height:100%;
}
.header .top-header .logo img{
    height:100%;
    width:220px;
}
.header .top-header .trending-wrapper{
    background-image: url(assets/icons/arrow-trend-up-solid.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: left center;
}
.header .top-header .trending-wrapper a{
    background-color: #fff;
    display: inline-block;
    height: 28px;
    padding:6px 15px;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 20px;
    font-size:14px;
    box-sizing: border-box;
}
.nav-bar{
    background-color: #a70e1a;
    height:40px;
    display: flex;
    justify-content: space-between;
    padding:0px 200px;
    list-style-type: none;
    color:#fff;
    font-size:15px;
    line-height: 40px;
    font-family: SFD-Medium;
}
.nav-bar li{
    padding:0 6px;
}
.bottom-nav-bar{
    background-color: #e9e9e9;
}